.small-column {
<<<<<<< HEAD
  width: 20%;
=======
  width: 25%;
>>>>>>> feature--profile-details
  height: 600px;
  background-color: lightskyblue;
  display: inline-block;
  margin-left: 20px;
  margin-right: 5px;
<<<<<<< HEAD
  margin-top: 10px;
=======
  margin-top: -10px;
>>>>>>> feature--profile-details

}

.big-column {
<<<<<<< HEAD
  width: 50%;
  height: 600px;
=======
  width: 70%;
  height: 700px;
>>>>>>> feature--profile-details
  background-color: lightskyblue;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;

}
<<<<<<< HEAD
=======

img {
  float: left;
  border-radius: 10px;
  margin-top: -100px;
}

.full_name {
  font-size: 25pt;
  font-weight: bold;
}

.username {
  font-size: 18pt;
  font-weight: lighter;
  color: #4D4D4D;
  letter-spacing: .7px;
}

a {
  text-decoration: none;
}

td {
  align-items: center;
}

.pi_link {
  font-size: 28pt;
  font-weight: bold;
}

.pi_grey {
  font-size: 10pt;
  color: #4D4D4D;
  text-align: center;
}
>>>>>>> feature--profile-details
