.small-column {
  width: 20%;
  height: 600px;
  background-color: lightskyblue;
  display: inline-block;
  margin-left: 20px;
  margin-right: 5px;
  margin-top: 10px;

}

.big-column {
  width: 50%;
  height: 600px;
  background-color: lightskyblue;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;

}
